.container {
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 262px;  
}

.card { 
  margin: 30px; 
}

.card-header {
  border: solid 1px lightblue; 
  text-align: center;
}

.card-title {
  font-family: 'Roboto Slab', serif;
}

.card-text {
  text-align: justify; 
  font-family: 'Nunito', sans-serif; 
}

li {
  font-weight: bold;
}

.available {
  width: 100%; 
  background-color: darkgray;
  color: yellow; 
}

.sold-out {
  position: absolute;
  margin:95px 600px 95px -19px;
}
